.hero {
    position: relative;
    z-index: 99;
    // background-color: rgba($black, 0.1);
    padding: 150px 0;
    @include centerer;

    &__container {
        position: relative;
       
       &::before {
           content: '- 01';
           position: absolute;
           left: -250px;
           display: block;
           @include font($accent,$mainFont,3.25rem,bold);
           transform: rotate(90deg);
       }
       &:after {
           content: 'furniture & decor';
           position: absolute;
           right: -300px;
           bottom: 100px;
           display: block;
           @include font(#393122,$mainFont,0.875rem,200);
           transform: rotate(90deg);
           text-transform: uppercase;
           letter-spacing: 2px;

       }
    }

    &__title {
        // box model
        display: block;
        
        // typography
        @include font($accent,$mainFont,6.25rem,300);
        text-transform: uppercase;
        letter-spacing: 10px;
        padding-bottom: 50px;
        margin: 0;
    }

    &__scroll-container {
        position: relative;

        &::after {
            content: 'scroll';
            text-transform: uppercase;
            position: absolute;
            left: -20px;
            bottom: -150px;
            display: block;
            transform: rotate(90deg);
            @include font(#363535,$mainFont,0.875rem, 100);
        }
    }

    &__mouse {
        padding-top: 50px;   
    }

    &__scroll {
        transform: rotate(90deg);
        display: block;
        color: white;
    }
}