.main-menu {
    // width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    
    }

    &__item {
        list-style-type: none;
        padding-right: 100px;

        &:last-child() {
            padding-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        @include font($menucolor,$mainFont,0.93rem,500);
        text-transform: uppercase;

        &:hover {
            color: $white;
            transition: 0.3s ease-in-out all;
        }
    }
}