.site-header {
    position: relative;
    min-height: 100vh;
    // border: 1px solid red;
    // display: flex;
    text-align: left;

    &__container {
    display: flex;
        
    }

    &__left {
        background-image: url('./img/bg-left.png');
        background-repeat: no-repeat;
        background-color: $black;
        background-size: cover;
        background-color: rgba($black,0.9);
        background-attachment: fixed;
        
        width: 50%;
        height: 100vh;
        order: 0;
        position: relative;
        display: inline-block;
        z-index: -11;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
           background-color: rgba($black,0.9);
        }
    }
    &__right {
        background-image: url('./img/bg-right.png');
        background-repeat: no-repeat;
        background-color: $black;
        background-attachment: fixed;
        
        height: 105vh;
        width: 50%;
        display: inline-block;
        background-size: cover;
        order: 2;
        position: relative; 
        z-index: -11;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
           background-color: rgba($black,0.9);
        }
    }
}