.video {
    background-image: url('./img/video-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black,0.9);
    }

    &__container {
        position: relative;
        z-index: 99;
        border: 1px solid $accent;
        @include centerer;
        // width: 100%;
    }

    &__block {
        margin: 100px 200px;
    }
}