section.about: .container
    .about__container
        article.about__item
            .about__img: img(src="./img/about.png")
            .about__description
                .about__title About us
                .about__text We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class 
                a.button.button--about(href="#") Learn more --->