footer.site-footer: .container
    .site-footer__container
        .site-footer__copyright @ 2016 Wooder
        .logo.logo--footer: .logo__text Wooder
        .site-footer__author Designed by <span>Daniil Vereschagin</span>