main.services: .container
    .services__container
        article.services__item
            .services__description
                .services__title Furniture
                .services__text Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood
                a.button.button--without-outline(href="#") Learn More -->
            .services__img: img(src="./img/services1.png")
            h3.nubmer.number--serices 01
        article.services__item.serices__item--reverse
            .services__description
                .services__title Decor
                .services__text We make all types of wooden decor as per design given by Architect,Interior designer, contractor which is suitable your premises. 
                a.button.button--without-outline(href="#") Learn More -->
            .services__img: img(src="./img/services.png")
            h3.number.number--services 02


