section.video: .container
    .video__container
        .video__block
            .video__title we do the design of any complexity
            .video__text This is a team of professionals that make the furniture and wood décor high standard. Creating modern designs. Adhering to the global quality standards. And we are doing work with love.
            a.button(href="#") Watvh video
