// Media
@mixin atSmall {
    @media(max-width: 340px) {
        @content;
    }
}

@mixin atTabletsPortrait {
    @media(min-width: 700px) {
        @content;
    }
}

@mixin atTabletsLandscape {
    @media(min-width: 900px) {
        @content;
    }
}

@mixin atDesktop {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin atDesktopLarge {
    @media(min-width: 1500px) {
        @content;
    }
}
// Positionining

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin centerer-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerer-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin font ($color,$font,$size,$bold) {
    // typography
    color: $color;
    font-family: $font;
    font-size: $size;
    font-weight: $bold;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content;}
  &::-moz-placeholder          {@content;}
  &:-ms-input-placeholder      {@content;}
}