<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles.css")
    title Wooder
body
    include ./templates/_header.pug
    include ./templates/_services.pug
        include ./templates/_quality.pug
    include ./templates/_video.pug
    include ./templates/_about.pug
    include ./templates/_footer.pug